@model IEnumerable<Category>
@{
    ViewData["Title"] = "Category List";
}

<h1>Category List</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Display Order</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
                  @foreach (var category in Model.OrderBy(o => o.DisplayOrder))
            {
                <tr>
                    <th scope="row">@category.Id</th>
                    <td>@category.Name</td>
                    <td>@category.DisplayOrder</td>
                    <td>#</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Categories do not exist.</p>
}
